numpy~=1.24.0
matplotlib~=3.6.2
setuptools~=65.5.0
pandas~=1.5.2
ortools~=9.5.2237
prettytable~=3.5.0
plotly~=5.11.0
kaleido

seaborn~=0.12.1
Pillow~=9.3.0
imageio~=2.23.0
pygifsicle~=1.0.7
tqdm~=4.64.1
scipy~=1.10.0